{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Home page</h1>
                <p>This is some text</p>
                <p>
                    {{index .StringMap "test"}}
                </p>

                <img src="/static/images/hero-image.jpg" height="720" width="1280">
            </div>
        </div>
    </div>
{{end}}